<section class="skills">
  <h2>Skills</h2>
  {{#if skills.software}}
    <h3>Software</h3>
    <ul class="software">
    {{#each item in skills.software}}
      <li class="item">
        {{item}}
      </li>
    {{/each}}
    </ul>
  {{/if}}

  {{#if skills.languages}}
    <h3>Languages</h3>
    <ul class="languages">
    {{#each item in skills.languages}}
      <li class="item">
        {{item}}
      </li>
    {{/each}}
    </ul>
  {{/if}}

  {{#if skills.interests}}
    <h3>Personal Interests</h3>
    <ul class="interests">
    {{#each item in skills.interests}}
      <li class="item">
        {{item}}
      </li>
    {{/each}}
    </ul>
  {{/if}}
</section>
