<section class="education">
  <h2>Education</h2>
  <ul>
  {{#each institution in education}}
    <li class="institution">
      <h3>{{institution.name}}</h3>
      <p class="degree"><h5>Degree:</h5>{{institution.degree}}</p>
      <p class="grad-date"><h5>Graduation Date:</h5>{{format-date institution.grad-date "MMMM GGGG"}}</p>
      {{#if institution.honors}}
      <h5>Honors:</h5>
      <ul class="honors">
        {{#each honor in institution.honors}}
        <li class="item">{{honor}}</li> {{/each}}
      </ul>
      {{/if}}
    </li>
  {{/each}}
  </ul>
</section>
