@import "_mixins.scss";

/*** Grid ***/
$bdMargin: 4%;
$gutter: 0.5%;
$maxBdWidth: 1000px;
$minBdWidth: 320px;

$fullWidth: 100% - 2*$bdMargin;
$phi: 1.6180339887498948482;
$phiInverse: 1/$phi;
$phiISquared: power($phiInverse, 2);

$sectionGutter: 1em;
$sectionMargin: $phiISquared * $sectionGutter;
$sectionPadding: $sectionGutter - $sectionMargin;

body {
  padding: $bdMargin;
  margin: auto;
  max-width: $maxBdWidth;
  min-width: $minBdWidth;
}

// Grid based on the Golden Ratio
section {
  margin-bottom: $sectionMargin;
  padding: $sectionPadding $sectionGutter;
}

.grid-phi {

  .c-wide {
    width: percentage($phiInverse) - $bdMargin;

    & + .c-short {
      padding-left: 2 * $gutter;
    }
  }

  .c-short {
    width: percentage($phiISquared) - $bdMargin;

    & + .c-wide {
      padding-left: 6*$gutter + $bdMargin;
    }
  }

  .c-full {
    width: $fullWidth;
  }

  .c-wide, .c-short {
    display: inline-block;
    vertical-align: top;
  }

  @media screen and (max-width: 850px) {
    .c-wide, .c-short {
      width: 100% - $bdMargin;
    }

    .c-wide + .c-short,
    .c-short + .c-wide {
      padding-left: 0;
    }
  }

  @media print {
    .c-wide, .c-short, .c-full {
      display: block;
      margin-bottom: 0.15em;
      width: 100%;
    }

    .c-wide + .c-short,
    .c-short + .c-wide {
      padding-left: 0;
    }
  }
}

@media print {
  @page:first {
    margin: 1cm 2cm;
  }

  @page {
    margin: 2cm 2cm 1cm;
  }
}
