/*** Skills ***/
$skillColor: hsl(255, 75%, 75%);

.skills {

  ul {
    margin-bottom: 1em;
  }

  .item {
    $transitionTime: 150ms;

    background-color: rgba($skillColor, 0.2);
    border-radius: 4px;
    color: mix(black, $skillColor, 60%);
    cursor: default;
    display: inline-block;
    margin: 0.25em 0;
    padding: 0.25em 0.5em;

    &:hover {
      background-color: rgba($skillColor, 0.4);
    }

    @media print {
      margin: 0;
      padding: 0;

      &::after {
        content: ',';
        margin-left: -0.25em;
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}
