/*** Education ***/
.education {
	.institution {
		margin-bottom: 1em;
	}

	h5 {
		display: inline-block;
		padding-right: 0.25em;
	}

	.honors {
		font-style: italic;
		margin-left: 1em;

		.item {
			display: inline-block;

			&::after {
				content: ',';
			}

			&:last-child::after {
				content: none;
			}
		}
	}

	@media print {
		page-break-before: always;
	}
}
