/*** Education ***/
.education {
  .institution {
    margin-bottom: 1em;
  }

  time.graduated {
    width: 5em;
  }

  .honors, .grades {
    margin-left: 1em;

    .item {
      display: inline;

      &::after {
        content: ',';
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}
