/*** Experience ***/
.experience {

  box-shadow: 3px 0px 1px -2px rgba(136,136,136, 0.19);
  -webkit-box-shadow: 3px 0px 1px -2px rgba(136,136,136, 0.19);
  -moz-box-shadow: 3px 0px 1px -2px rgba(136,136,136, 0.19);

  @media screen and (max-width: 850px) {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .job {
    $jobGutter: 1em;
    $jobMargin: $phiInverse * $phiInverse * $jobGutter;
    $jobPadding: $jobGutter - $jobMargin;

    margin-bottom: $jobMargin;
    padding: 0 $jobGutter $jobPadding 0;

    @media screen and (max-width: 850px) {
      padding-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .accomplishments, .duties {
    .item {
      list-style-type: disc;
      line-height: 1.3;
      margin-left: 1.5em;
      max-width: 35em;
    }
  }
}
