<div class="grid-phi">
  <div class="c-full">
    {{#with contact as contact}}
      {{sec-contact-info contact=contact}}
    {{/with}}
  </div>

  <div class="c-wide">
    {{#with experience as experience}}
    {{sec-experience experience=experience}}
    {{/with}}
  </div>

  <div class="c-short">
    {{#with education as education}}
    {{sec-education education=education}}
    {{/with}}

    {{#with skills as skills}}
    {{sec-skills skills=skills}}
    {{/with}}
  </div>
</div>
