
<div class="grid-phi">

  <div class="c-full">
    {{ sec-contact-info contact=contact }}
  </div>

  <div class="c-wide">
    {{ sec-experience experience=experience }}
  </div>

  <div class="c-short">
    {{ sec-education education=education }}
    {{ sec-skills skills=skills }}
  </div>

</div>
